* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.1;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

/* Main heading */
 h1 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
 }

 /* Secondary heading */

 h2 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  color: #9D9D9D;
 }

 /* links */
  a {
   text-decoration: none;
  }

  a:hover {
    border-bottom: 1px solid;
    border-bottom-color: white;
  }

.top-row-outter {
  width: 100%;
  height: 105px;
  background-color: #2F3237;
  position: absolute;
}

.wrapper {
  width: 900px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.top-row-inner {
  width: 100%;
  background-color: #3F4247;
  float: left;
}

.top-left {
  float: left;
  margin: 20px 20px;
}

.top-right {
  float: right;
  margin: 43px 20px;
}

.p-logo {
  float: left;
}

.p-logo-txt {
  color: #FFFEFF;
  font-size: 20px;
  float: left;
  font-weight: 800;
  text-shadow: 1px 3px 5px black;
}

.top-right-txt {
  display: inline-block;
  color: #AFAFAD;
  margin: 0;
  padding-right: 7px;
}

.top-right-txt:first-child {
  border-right: 0.5px solid;
}

.top-right-txt:last-child {
}

.top-right-link {
  color: #AFAFAD;

}
.img-div {
  background: black;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  top: 180px;
}

.navigation {
  background: #FE8D00;
  background: -webkit-linear-gradient (to bottom, #FE8D00, #FFA820);
  background:    -moz-linear-gradient (to bottom, #FE8D00, #FFA820);
  background:      -o-linear-gradient (to bottom, #FE8D00, #FFA820);
  background:         linear-gradient (to bottom, #FE8D00, #FFA820);
  width: 100%;
  height: 40px;
  float: left;
}

.nav-list {
  float: left;
  margin: 0 0 0 200px;
}

.nav-item {
  display: inline-block;
  padding-right: 25px;
  padding-top: 12px;
}

.nav-link {
  color: #EBEABC;
  text-shadow: 1px 1px #FFA820;
}
.nav-social-div {
  margin-right: 230px;
}
.nav-item-social {
  float: right;
  display: inline-block;
  margin: 10px 5px 0 0;
}

.footer {
  background-color: #2F3237;
  height: 300px;
}
